<h2><%= "#{@user.byline_name}"'\'s Profile' %></h2>

<h3><%= "@#{@user.username}" %></h3>

<p><strong>Bio:</strong><%= "#{@user.bio}" %></p>


<h3><%= "#{@user.byline_name}"'\'s Posts' %></h3>
<ul>
    <% @user.posts.each do |post| %>
      <li>
        <%= link_to "#{post.title}", "/users/#{@user.id}/posts/#{post.id}" %>
      </li>
    <% end %>
</ul>

<%= link_to "Home", "/" %>

<%= link_to "All Users", "/users" %>
