<h1><%= "#{@user.byline_name}"'\'s Profile' %></h1>

<h2><%= "@#{@user.username}" %></h2>

<p><strong>Bio:</strong><%= "#{@user.bio}" %></p>


<h3><%= "#{@user.byline_name}"'\'s Posts by City' %></h3>
<ul>
  <% @user.cities.each do |city| %>
    <li class="city-name">
      <%= city.name %>
    </li>
      <ul>
        <% city.posts.each do |post| %>
          <li>
            <%= link_to "#{post.title}", "/users/#{@user.id}/cities/#{city.id}/posts/#{post.id}" %>
          </li>
        <% end %>
      </ul>
  <% end %>
</ul>
