

<div id="featured">
  <h2 class="homepage-header">Featured Stories</h2>
  <div id="feature-1">
    <%= image_tag "amsterdam_trekearth.jpg", size: "300x200" %>
    <!-- <img src= "/assets/amsterdam_trekearth.jpeg" width="300" height="200"> -->
    <%= link_to "Biking Amsterdam", "/users/2/posts/8" %>
  </div>
  <div id="feature-2">
    <%= image_tag "berlin_carpeberlin.jpg", size: "300x200" %>
      <%= link_to "Berlin Graffiti Tour", "/users/2/posts/6" %>
  </div>
  <div id="feature-3">
    <%= image_tag "paris_odyseeyonline.jpg", size: "300x200" %>
      <%= link_to "Following in Elaine Dundy's Footsteps", "/users/1/posts/3" %>
  </div>

<div id="destinations">
  <h2 class="homepage-header">Top Destinations</h2>
    <div id="first-city">
      <h3>Paris</h3>
      <ul>
        <li>
          <%= link_to "Following in Elaine Dundy's Footsteps", "/users/1/posts/3" %>
        </li>
        <li>
          <%= link_to "Midnight in Paris", "/users/1/posts/1" %>
        </li>
        <li>
          <%= link_to "Surrealist Paris", "/users/1/posts/2" %>
        </li>
      </ul>
    </div>
    <div id="second-city">
      <h3>Berlin</h3>
      <ul>
        <li>
          <%= link_to "Berlin Graffiti Tour", "/users/2/posts/6" %>
        </li>
        <li>
          <%= link_to "Berlin Street Style", "/users/2/posts/5"  %>
        </li>
        <li>
          <%= link_to "Contemporary Art Spots", "/users/2/posts/7" %>
      </ul>
    </div>
    <div id="third-city">
      <h3>Amsterdam</h3>
      <ul>
        <li>
          <%= link_to "Biking Amsterdam", "/users/2/posts/8" %>
        </li>
        <li>
          <%= link_to "Anne Frank House Trip", "/users/2/posts/10" %>
        </li>
        <li>
          <%= link_to "Visiting the Van Gogh Museum", "/users/2/posts/9" %>
      </ul>
    </div>
 </div>
</div>

<div id="sidebar">
  <h4 class="homepage-header">Cities</h2>
  <ul class="homepage-links">
  <% @cities.each do |city| %>
    <li>
      <%= link_to city.name, "/cities/#{city.id}" %>
    </li>
  <% end %>
  </ul>

  <h4 class="homepage-header">Contributors</h2>
  <% @users.each do |user| %>
    <ul class="homepage-links">
    <li>
      <%= link_to "#{user.byline_name}", user_path(user) %>
    </li>
  </ul>
  <% end %>
</div>
