<h1>Edit Post "<%= "#{@post.title}" %>"</h1>

<%= form_for @post, url: {action: "edit"}, html: {method: "patch"} do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %><br>
</p>
<p>
  <%= f.submit "Save" %>
</p>

<% end %>
