<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  <title>Travel Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <div id="page-wrap"> -->
  <div class="nav-bar">

    <%= link_to "home", '/' %>
  </div>

    <div id="session-info">
      <% if current_user %>
        hello <%= current_user.username %> | <%= link_to "Log Out", '/logout' %>
      <% else %>
        <%= link_to "Log In", '/login' %> | <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </div>

    <h1 id="site-title">Travel Blogger</h1>

    <%= yield %>

  <!-- </div> -->
</body>
</html>
